.todo-item{
    background: #150026;
    margin: 1.5rem 1rem;
    border-radius: 6px;
    color: white;
}

.edits{
    display: flex;
    justify-content: center;
    align-items: center;
}

.finished{
    text-decoration: line-through;
    opacity: 0.6;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
    padding: 32px;
}